@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600;700;800&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header#cabecalho div.rede-social{
    
    right: 20px;
    
    position: absolute  ;
    margin: auto;
    text-align: center;

}
header#cabecalho div.rede-social img{
    height: 30px;
    margin: auto 30px auto 0;
    display: inline-flex;
}
header#cabecalho hgroup{
    padding: 5px;
    display: inline-flex;
    background-color: #FFCB12;
    width: 100%;
}

header#cabecalho hgroup figure img{
    height: 30px;
    margin: auto 10px auto 5px;
}
header#cabecalho hgroup p{
    margin: auto 0;
    font-family: 'Outfit', sans-serif;
    font-size: larger;
}
div.box-cabecalho{
    width: 100%;
    height: 100px;
    background-image:linear-gradient(-35deg, #E10E25, #F5571D) ;
    display: inline-flex;
    
}
div.box-cabecalho h1{
    text-align: center;
    margin: auto auto;
    color:#FFCB12;
    font-family: 'Outfit',  sans-serif;
    font-size: 4ex;
}
div.box-cabecalho img{
    height: 80px;
    margin:auto 0 auto 50px;
    
}
article.foto-moto img{
    border-radius: 5px;
    width: 100%;
}
article.foto-moto h2{
    font-size: clamp(8px, 3vw , 3.2vw);
    font-family: 'Outfit',sans-serif;
    text-align: center;
    height: 50px;
    color: #fff;
    padding:10px;
    height: auto;
    
}
article.foto-moto{
    background-color: #F54C00;

}
 .zap-verde{
    height: 20px;
    width: auto;
    position: fixed;
    right: 30px;
    bottom: 80px;
    display: inline-flex;
    
    height: auto;
    background-color: #ffffff73;
    padding: 3px;
    border-radius: 6px;
    
}
.zap-verde img{
    height: 40px;
    width: auto;
    margin: auto 0 auto 0;
    
}
.zap-verde p{
    margin: auto 0 auto 0;
    display: flex;
    font-family: 'Outfit',sans-serif;
    font-size: 12px;
}
#box-dois  {
    border: 1px #333 dashed;
     width: 100%;
     height: 100%;
     display: inline-flex;
     flex-wrap: wrap;
     text-align: center;
     
     
     
 }

section#box-dois .h2{
    padding: 5px 0;
    min-width: 260px;
    width: 40vw;
    max-width: 400px;    
    color: #fff;
    background-color: #de2f0b;
    position: absolute;
    text-align: center;
    
}
section#box-dois h2{
    font-size: clamp(15px, 2vw , 2.2vw);
    font-family: 'Outfit',sans-serif;
    
}

#box-dois  .h3{
    width: 200px;
    height: 200px;
    background-color: #450B0A;
    border-radius: 20px;
    box-shadow:4px 4px 2px #33333369; 
    margin: 7em auto 0 auto;
    text-align: center;
       
}
#box-dois  h3{
    color: #fff;
    font-size: clamp(24px, 3.2vw , 1.8em);
    font-family: 'Outfit',sans-serif;
    text-align: center;
    padding: 35px 0 35px  0  ;
}
#box-dois  img{
    margin: 3em auto;
    
    width: 100%;
    min-width: 100px;
    max-width: 850px;
}
