@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600;700;800&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/*=========================top rede sociais================*/
header#cabecalho hgroup{
    height: 50px;
   
    background-color: #FFCB12;
    width: 100%;
    padding:8px;
    display: inline-flex;
    
}
header#cabecalho hgroup p{
    
    font-family: 'Outfit', sans-serif;
    font-size: clamp(18px, 1em, 3em);
    margin: auto 0 ;
    
   /* border: #333 1px solid;*/
        
}

header#cabecalho hgroup figure img{
    height: 30px;
    margin: auto 10px auto 5px;
    min-height: 20px;
}
header#cabecalho div.rede-social{
    position: absolute;
    right: 2px;
}

/*=========================prestador de serviços================*/
div.box-cabecalho{
    width: 100%;
    height: 100px;
    background-image:linear-gradient(-35deg, #E10E25, #F5571D) ;
    display: inline-flex;
    
}
div.box-cabecalho h1{
    text-align: center;
    margin: auto auto;
    color:#FFCB12;
    font-family: 'Outfit',  sans-serif;
    font-size: clamp(8px, 1.8em, 4em);
}
div.box-cabecalho img{
    height: 80px;
    margin:auto 0 auto 50px;
    
}
article.foto-moto img{
    border-radius: 5px;
    width: 100%;
}
article.foto-moto h2{
    font-size: clamp(8px, 3vw , 3.2vw);
    font-family: 'Outfit',sans-serif;
    text-align: center;
    height: 50px;
    color: #fff;
    padding:10px;
    height: auto;
    
}
article.foto-moto{
    background-color: #F54C00;

}
 .zap-verde{
    height: 20px;
    width: auto;
    position: fixed;
    right: 30px;
    bottom: 80px;
    display: inline-flex;
    
    height: auto;
    background-color: #ffffff73;
    padding: 3px;
    border-radius: 6px;
    
}
.zap-verde img{
    height: 40px;
    width: auto;
    margin: auto 0 auto 0;
    
}
.zap-verde p{
    margin: auto 0 auto 0;
    display: flex;
    font-family: 'Outfit',sans-serif;
    font-size: 12px;
}
.qr-tel{
    height: 20px;
    width: auto;
    position: fixed;
    right: 30px;
    bottom: 140px;
    text-align: center;    
    height: auto;
    background-color: #ffffff73;
    padding: 3px;
    border-radius: 6px;
    
}
.qr-tel:hover img{
    width: 320px;
    height: auto;
    transition:all 2s;
    
}
.qr-tel:hover p {
    display: block;
    font-size: 24px;
}
.qr-tel:hover{
    background-color: #fff;
}
.qr-tel:hover h3{
    display: none;
    background-color: #450B0A;
    width: 100%;
    height: 100%;
}
.qr-tel h3{
    font-family: 'Outfit',sans-serif;
    font-size: 12px;
}
.qr-tel img{
    height: 40px;
    width: auto;
    margin: auto 0 auto 0;
    
}
.qr-tel p{
    margin: auto 0 auto 0;
    display:none;
    font-family: 'Outfit',sans-serif;
    font-size: 12px;
}
/*============section box-dois============*/
#box-dois  {
    
     width: 100%;
     height: 100%;
     display: inline-flex;
     flex-wrap: wrap;
     text-align: center;
 }

section#box-dois .h2{
    padding: 5px 0;
    min-width: 260px;
    width: 40vw;
    max-width: 400px;    
    color: #fff;
    background-color: #de2f0b;
    height: 6vw;
    min-height: 20px;
    max-height: 50px;
    text-align: center;
    
}
section#box-dois h2{
    font-size: clamp(15px, 2vw , 2.2vw);
    font-family: 'Outfit',sans-serif;
    
}

#box-dois  .h3{
    width: 200px;
    height: 200px;
    background-color: #450B0A;
    border-radius: 20px;
    box-shadow:4px 4px 2px #33333369; 
    margin: 7em auto 0 auto;
    text-align: center;
       
}
#box-dois  h3{
    color: #fff;
    font-size: clamp(24px, 3.2vw , 1.8em);
    font-family: 'Outfit',sans-serif;
    text-align: center;
    padding: 35px 0 35px  0  ;
}
#box-dois .qrcode img{
    margin: 3em auto;
    
    width: 100%;
    min-width: 100px;
    max-width: 850px;
}
#box-dois #telZap{
    width: 100%;
    background-color: #de2f0b;
    text-align: center;
    color: #fff;   
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.322); 
}
#box-dois #telZap  img{
  
  height: 30px; 
  margin:10px 5px 10px 0; 
}
#box-dois #telZap figure{
    display: inline-flex;
}

#box-dois #telZap p{
    margin: auto 0;
    font-size: clamp(10px, 15px, 18px);
    font-family: 'Outfit',sans-serif;
}
/*============section box-tres============*/
#box-tres  {
     width: 100%;
     height: 100%;
     text-align: center;
     background-image: url('./imagem/ondas.png') , radial-gradient(#6F4111, #450B0A);
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: 50%;
    
 }
#box-tres  .h3{
    width: 300px;
    height: 200px;
    margin: auto;
    text-align: center;
       
}
#box-tres  h3{
    color: #fff;
    font-size: clamp(24px, 3.2vw , 1.8em);
    font-family: 'Outfit',sans-serif;
}
#box-tres .ligou img{
    margin: 3em auto;
    
    width: 100%;
    min-width: 100px;
    max-width: 550px;
}
#box-tres #telRed{
    width: 100%;
    background-color: #fff;
    text-align: center;
    color: #d2d3d5;
    
}
#box-tres #telRed  img{
  
  height: 30px; 
  margin:10px 5px 10px 0; 
}
#box-tres #telRed figure{
    display: inline-flex;
    margin:0 5px;
    cursor: pointer;
}

#box-tres #telRed p{
    margin: auto 0;
    font-size: clamp(12px, 3.2vw , 1.8em);
    font-family: 'Outfit',sans-serif;
}
